<% layout("/layouts/boilerplate") %>
<br />
<div class="row">
  <div class="col-8 offset-2">
    <h3>Edit Your Listing</h3>
    <form
      method="post"
      action="/listing/<%=listing._id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <!-- title div -->
      <div class="mb-3">
        <label for="title">Title</label>
        <input
          type="text"
          name="Listing[title]"
          value="<%= listing.title %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Title is required</div>
      </div>
      <!-- description div -->
      <div class="mb-3">
        <label for="description">Description</label>
        <textarea name="Listing[description]" class="form-control" required>
<%= listing. description %></textarea
        >
        <div class="invalid-feedback">Description is required</div>
      </div>
      <!-- // image link div -->
      <div class="mb-3 col-6">
        <label>Your previous listing image</label>
        <img
          src="<%= listing.image.url %>"
          alt="listing-image"
          height="150px"
          width="300px"
        />
      </div>
      <div class="mb-3">
        <label for="image">Upload new image</label>
        <input type="file" name="Listing[image]" class="form-control" />
      </div>
      <!-- // price div -->
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price">Price</label>
          <input
            type="text"
            name="Listing[price]"
            value="<%= listing.price %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price is required</div>
        </div>
        <!-- // country div -->
        <div class="mb-3 col-md-8">
          <label for="country">Country</label>
          <input
            type="text"
            name="Listing[country]"
            value="<%= listing.country %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country is required</div>
        </div>
      </div>

      <!-- // location div -->
      <div class="mb-3">
        <label for="location">Location</label>
        <input
          type="text"
          name="Listing[location]"
          value="<%= listing.location %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location is required</div>
      </div>
      <button type="submit" class="btn edit-btn">Edit</button>
      <br /><br />
    </form>
  </div>
</div>
